<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Secret Name</th>
        <th>URL</th>
        <th>Name</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    </thead>
<%secrets.forEach(item => {%>
    <tbody>
    <tr>
        <td><%= item.secret%></td>
        <td><a class="text-info" href="<%= item.url%>" target="_blank"><%= item.url%></a></td>
        <td><%= item.name%></td>
        <td><span class="d-none txtPwd"><%= item.pwd%></span></td>
        <td><a class="text-info action" href="#"><i class="far fa-eye-slash eyeShut"></i><i class="far fa-eye eyeShow"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a class="text-info" href="edit?secret=<%= item.secret%>"><i class="fas fa-pencil-alt"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a class="text-info actionDel" href="#" data-toggle="modal" data-target="#confirmDelModal"><i class="far fa-trash-alt"></i></a>
        <span class="d-none"><%= item._id%></span>
        <!--
        <a class="text-info" href="delete?secret=<%= item.secret%>"><i class="far fa-trash-alt"></i></a>
        -->
        </td>
    </tr>
    </tbody>
<%});%>
</table>
<div class="modal" id="confirmDelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm to delete selected item</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header text-danger">Are you sure to delete this secret item? <br/>This cannot be UNDO.</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="text-primary">Secret:</label>
                            <label class="secretName"></label>
                        </div>
                        <div class="form-group">
                            <label class="text-info">URL:</label>
                            <label class="secretURL"></label>
                        </div>
                        <span class="d-none secretID"></span>
                    </div>
                    <div class="card-footer">Click OK to delete it.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function() {
    $(".txtPwd").hide();

    $(".eyeShut").hide();
    $("a.action").click(function() {
        $(this).parent().prev().children(".txtPwd").removeClass("d-none");
        $(this).parent().prev().children(".txtPwd").toggle();
        $(this).children(".eyeShut").toggle();
        $(this).children(".eyeShow").toggle();
    });

    $("a.actionDel").click(function(){
        let itemFirst = $(this).parent().parent().children().first();
        $(".secretName").text(itemFirst.text());
        $(".secretURL").text(itemFirst.next().text());
        $(".secretID").text($(this).next().text());
    });
    $("button.btn-primary").click(function() {
        console.log(`id to delete is: ${$(".secretName").text()}`);
        window.location.assign(`delete?secret=${$(".secretName").text()}`);
    });

});
</script>    